<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}title {% endblock %}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/plan.css">

    <link rel="stylesheet" href="/static/js/ngToast.css">
    <link rel="stylesheet" href="/static/js/ngToast.min.css">
    <link rel="stylesheet" href="/static/js/ngToast-animations.css">
    <link rel="stylesheet" href="/static/js/ngToast-animations.min.css">

    <script src="/static/js/angular-animate.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/angular-animate.js"></script>
    <script src="/static/js/angular-sanitize.js"></script>
    <script src="/static/js/ngToast.js"></script>
    <script src="/static/js/ngToast.min.js"></script>
    <script src="/static/js/controllers/app.js"></script>

    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

</head>
<body ng-app="myapp">
{% load custom_context %}
<toast></toast>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
     <a class="navbar-brand" href="#">WebShot</a>
     </div>
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
       <li><a href="{% url 'logout' %}">LOGOUT<span class="glyphicon glyphicon-user"></span></a></li>
     </ul>

         {% else %}
     <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'logout' %}">LOGOUT<span class="glyphicon glyphicon-user"></span></a></li>
     </ul>
      {% endif %}

    </div>
</nav>

<div class="container">
   <p align="right">{{ user }}</p>

   {% block content %}

       {% block custom_css %}

       {% endblock %}
       <!--{% block custom_script %}-->

       <!--{% endblock %}-->

   {% endblock %}



</div>

 <!-- Latest compiled and minified CSS -->

</body>

{% block customized_js %}

{% endblock %}
</html>
