{% extends "imageapp/base.html" %}
{% load custom_context %}
{% block title %}
    Path to Image
{% endblock %}
{% block content %}
<section  ng-controller="dataController">
    <div class="container">

  <form class="form-horizontal" role="form" method="POST">
      {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">URL</label>
      <div class="col-sm-10">
        <input type="url" name="website" class="form-control"ng-model="url" required pattern="https?://.+"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="width">Width</label>
      <div class="col-sm-10">
        <select name="select-width" id="widthdata" ng-model="width" class="form-control">
            <option ng-repeat="option in availableOptions" value="[[option.value]]" required>[[option.value]]</option>
        </select>

      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="height">height</label>
      <div class="col-sm-10">
        <select name="select-height" id="heightdata" ng-model="height" class="form-control">
             <option ng-repeat="option in availableOptions" value="[[option.value]]" required>[[option.value]]</option>
             </select>
      </div>
    </div>
      {% if user.is_authenticated %}

    <div class="form-group">
      <label class="control-label col-sm-2" for="email">API KEY</label>
      <div class="col-sm-10">
          <input type='text' ng-init="apikey='{{user|get_apikey}}'"  ng-model="apikey" ng-value="apikey"  />
</div>
    </div>
    {% else %}
    " The count is based on your ip address"

    {% endif %}
      <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" ng-click="SendHttpPostData()" id="">Submit</button>
         </div>
    </div>
  </form>
</div>
    <div class="displayimage">
        <img src="/static/images/loadingicon.gif" width="100" height="100"  ng-show="loading"  />

    </div>



          <div id="image_success" ng-show="success_message">
                <img src='[[ServerResponse]]' >
          </div>
          <div id="image_errors"  ng-show="error_message">
                 <p>[[ServerResponses]]</p>
          </div>


   </div>
</section>

    {%  block custom_css %}
    <style type="text/css">
    .my-animation.ng-enter
    {
       animation: flipInY 1s;
    }

    .my-animation.ng-leave
    {
        animation: flipOutY 1s;
    }

    </style>

    {% endblock %}
    {% block custom_script %}
      <script type="text/javascript">


        </script>
        {% endblock %}
{%  endblock %}