{% extends "base.html" %}
<head>
    <title>Page To Image</title>
</head>
<body >
{% block content %}
<section ng-app="myapp" ng-controller="dataController">
    <form method='POST'>
        {% csrf_token %}
        <div>
            <p>URL:<input type="url" name="website" ng-model="url" required pattern="https?://.+"/></p>
            <p>Width:
                <select name="select-width" id="widthdata" ng-model="width">
                    <option ng-repeat="option in availableOptions" value="[[option.value]]">[[option.value]]</option>
                </select><br/><br/>


            </p>

            <p>Height:
             <select name="select-height" id="heightdata" ng-model="height">
             <option ng-repeat="option in availableOptions" value="[[option.value]]">[[option.value]]</option>
             </select><br/><br/>
             </p>
            <input type="button" value="Submit"  ng-click="SendHttpPostData()"/>

        </div>
    </form>
    <img src="[[ ServerResponse ]]"/>
</section>
{%  endblock %}


</body>
</html>