
{% extends "imageapp/loginbase.html" %}
{% load custom_context %}
{% block title %}
    Login Page
{% endblock %}
{% block content %}
<div class="container"  ng-controller="loginController">

        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

            <div class="panel panel-info" >

                <div class="panel-heading">

                    <div class="panel-title">Sign In</div>


                    </div>

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                            <form class="form-horizontal" role="form" method="POST">
                             {% csrf_token %}
                                    <div style="margin-bottom: 25px" class="input-group">

                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email" ng-model="username" ng-enter="check()">

                                    </div>

                                    <div style="margin-bottom: 25px" class="input-group">

                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input id="login-password" type="password" class="form-control" name="password" placeholder="password" ng-model="password" ng-enter="check()" >

                                    </div>


                                    <div class="input-group">

                                        <div class="checkbox">
                                            <label>
                                            <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
                                            </label>
                                        </div>

                                    </div>


                                <div style="margin-top:10px" class="form-group">

                                    <div class="col-sm-12 controls">
                                      <input type="button" class="btn btn-success" value="Login" ng-click="check()"/>
                                  </div>

                                </div>

                            </form>


                        </div>
                </div>
        </div>
</div>
{% endblock %}
