{% extends "imageapp/base.html" %}
{% block title %}
    Login Page
{% endblock %}
{% block content %}
<div class="container">
   <h3>Webimage converter</h3>
  <marquee>  THANK YOU !!</marquee>

</div>
   {% endblock %}



 <!-- Latest compiled and minified CSS -->


