{% extends "imageapp/base.html" %}
{% block content %}

<div id="pricing-table" class="clear">
    {% for plan in plan_list %}
    <div class="plan">
        {% if plan.name %}
        <h3><span>${{ plan.price }}</span></h3>
        <ul>
            <h2><li><b>{{ plan.name }}</b></li></h2>
            <h2><li><b>Maximum Count:{{ plan.plan_count }}</b></li></h2>
        </ul>
        <a class="subscribe" id="customButton_{{plan.id}}" href="">subscribe</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block customized_js %}
    <script>
        {% for plan in plan_list %}
            var handler_{{plan.id}} = StripeCheckout.configure({
                name : "web2image",
                key: 'pk_test_J5g44UTpH0TdaisBPNCMInHD',
                description: '{{plan.name}} Subscribtion (${{plan.price}} )',
                panelLabel: 'Subscribe',
                email: '{{ user.email }}',
                image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
                amount: {{plan.price}}*100,
                locale: 'auto',
                token: function(token, args, plan) {
                    $.ajax({
                         url: "/subscribe_plan/",
                         type: 'POST',
                         data: {token: token, args: args, plan: "{{plan.name}}"},
                         success: function (response) {
                             alert("sucess");
                         }
                    });
                }
            });
            $('#customButton_{{plan.id}}').click(function(e) {
                handler_{{plan.id}}.open();
                e.preventDefault();
            });
        {% endfor %}
    </script>

{% endblock %}

