{% extends "registration/registration_base.html" %}
{#{% load i18n %}#}
{% load i18n widget_tweaks %}
{% block title %}{% trans "Log in" %}{% endblock %}
{% block content %}
<form class="form-horizontal" role="form" action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        {% if field.errors %}
            <div class="form-group has-error">
                <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-10">
                    {{ field|attr:"class:form-control" }}
                    <span class="help-block">
                        {% for error in  field.errors %}{{ error }}{% endfor %}
                    </span>
                </div>
            </div>
        {% else %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-10">
                    {{ field|attr:"class:form-control" }}
                    {% if field.help_text %}
                        <p class="help-block"><small>{{ field.help_text }}</small></p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
        </div>
    </div>
</form>
<p><h5><i class="glyphicon glyphicon-lock"></i>{% trans "Forgot your password?" %}</h5><a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
<p><h5><i class="glyphicon glyphicon-user"></i>{% trans "Not a member?" %}</h5> <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>
{% endblock %}

{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}
