nav.navbar.navbar-inverse {
    background-color:honeydew;
    border-color: #080808;
}

.navbar-inverse .navbar-brand {
    color: black;
}
.navbar-inverse .navbar-nav > li > a {
   color:black;
}
nav>li>a:hover {
    text-decoration: none;
    background-color:black;
}